<!DOCTYPE html>
<html>
  <head>
    <title>Ericonium</title>
    <style>
      table {
        width: 90vh;
        max-width: 90vh;
        height: 90vh;
        max-height: 90vh;
        border: 1px solid black;
      }
      th, td {
        border: 1px solid gray;
      }
      .sidepanel {
        border: 1px solid black;
        float: right;
        width: 25vw;
        max-width: 25vw;
        height: 50vw;
        max-height: 50vw;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    {% if userID is not none %}
    <p style="float:right;"><a href="ericonium/server/templates/profile.html">{{userID}}</a></p>
    {% else %}
    <p style="float:right;"><a href="{{url_for("oauth.login")}}">Log in with Google</a></p>
    {% endif %}

    <a href="{{url_for("index")}}"><p>Home</p></a>
    <h1>Version 0</h1>

    <div class="sidepanel">
      <p style="font-weight:bold;">Coordinates of the tile</p>
      <p>This is where the current tile info goes.</p>
    </div>

    <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
