<!DOCTYPE html>
<html>
  <head>
    <title>Ericonium</title>
    <style>
      table {
        width: 50vmin;
        height: 50vmin;
        border: 1px solid black;
      }
      th, td {
        max-width: 9vmin;
        max-height: 9vmin;
        border: 1px solid gray;
      }
    </style>
  </head>
  <body>
    {% if userID is not None %}
    <p style="float:right";><a href="ericonium/server/templates/profile.html">{{userID}}</a></p>
    {% else %}
    <p style="float:right";><a href="{{url_for("oauth.login")}}">Log in with Google</a></p>
    {% endif %}

    <a href="index.html"><p>Home</p></a>
    <h1>Version 0</h1>

    <div style="border:1px solid black;float:right;width:45%;height:50vmin;padding:2px;">
      <p style="font-weight:bold;">
        Coodinates of the tile
      </p>
      <p>
        This is where the current tile info goes.
      </p>
    </div>

    <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
