<!DOCTYPE html>
<html>
  <head>
    <title>Ericonium - Version 0</title>
  </head>
  
  <body>
    {% if sessionID is defined %}
    <p style="color:red;font-style:italic;">Session ID = {{sessionID}}
    {% endif %}

    {% if userID is defined %}
    <p>You are logged in, using the Google account '{{userID}}'
    {% else %}
    <p><a href="{{url_for("oauth.login")}}">Log in with Google</a>
    {% endif %}
    
    <h1>Ericonium</h1>
    <a href="gameVersionList.html"><p>Version List</p></a>
  </body>
</html>
