<!DOCTYPE html>
<html>
  <head>
    <title>Ericonium - Version 0</title>
  </head>
  
  <body>
    {% if sessionID is defined %}
    <p style="color:red;font-style:italic;">Session ID = {{sessionID}}</p>
    {% endif %}

    {% if userID is not None %}
    <p style="float:left">You are logged in, using the Google account '{{userID}}'</p>
    {% else %}
    <p style="float:left"><a href="{{url_for("oauth.login")}}">Log in with Google</a></p>
    {% endif %}
    
    <h1>Ericonium</h1>
    <p><a href="ericonium/versions">Version List</a></p>
  </body>
</html>
