<!DOCTYPE html>
<html>
  <head>
    <title>Ericonium - Home</title>
  </head>
  
  <body>
    {% if userID is not None %}
    <p style="float:right;"><a href="ericonium/server/templates/profile.html">{{userID}}</a></p>
    {% else %}
    <p style="float:right";><a href="{{url_for("oauth.login")}}">Log in with Google</a></p>
    {% endif %}
    
    <h1>Ericonium</h1>
    <p><a href="ericonium/server/templates/game.html">Play</a></p>
    <p><a href="ericonium/versions/index.html">Version List</a></p>
  </body>
</html>
