<!DOCTYPE html>
<html>
  <head>
    <title>Ericonium - Profile</title>
    <style>
      table {
        width: 50vmin;
        height: 50vmin;
        border: 1px solid black;
      }
      th, td {
        max-width: 9vmin;
        max-height: 9vmin;
        border: 1px solid gray;
      }
    </style>
  </head>
  <body>
    {% if userID is not none %}
    
    <p style="float:right;">{{userID}}</p>
    <p><a href="index.html">Home</a></p>
    <h1>Profile</h1>
    
    <table>
      <tr>
        <td style="border:0"></td>
        <th>
          Column 1
        </th>
        <th>
          Column 2
        </th>
      </tr>
      <tr>
        <th>
          Row 1
        </th>
        <td>
          Entry 1
        </td>
        <td>
          Entry 2
        </td>
      </tr>
      <tr>
        <th>
          Row 2
        </th>
        <td>
          Entry 3
        </td>
        <td>
          Entry 4
        </td>
      </tr>
    </table>
    
    {% else %}
    
    <p>You are not logged in. <a href="{{url_for("oauth.login")}}">Log in with Google</a></p>
  </body>
</html>
